body {
        background: rgba(175, 174, 174, 0.411);
        margin: 0 7%;
}

h2 {

        margin-top: 60px;       
}

ul {
        margin-left: 20px;
}
img {
        margin-top : 5px;
        margin-bottom : 30px;
max-width: 90vw; 
}

